body {
  color: yellow;
  background-color: indigo;
}
p {
  color: rgb(250, 0, 0);
background-color: yellow;
font-size: 21px;
margin-left: 15px;
margin-right: 15px;
}
h1 {
  color: yellow;
  opacity: 1.0;
  font-size: 60px;
margin-top: 21px;
margin-bottom: 21px;
}

nav {
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 36px;
  margin-left: 15px;
  margin-right: 15px;

}

a:link {
  color: #00ff00;
  padding-left: 30px;
  padding-right: 30px;

}
a:visited {
  color: #ff0000
}
a:active {
  color: #ff0000
}
a:hover {
  color: #ffff00
}
#wrapper2 {
	margin: 1em auto;
	padding: 10px;
	width: 1450px;
	border: 14px solid #ff0000;
}
